.cart {
    position: fixed;
    right: 2rem;
    top: 5rem;

    cursor: pointer;
    padding: 1rem;
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    z-index: 9999;
}

.cart-quantity {
    color: rgb(255, 119, 0);
    font-size: 1rem;
    font-weight: bold;
}