.footer {
    display: flex;
    justify-content: center;
    background-color: #5a07ff7a;
    height: 4rem;
    padding: 1rem 3rem;
    align-items: center;
    border-top: 0.1rem solid #804beb7a;
}

.repo {
    font-size: 1.5rem;
    font-weight: 400;
}